..btn {
    -fx-background-color: #1111;
    -fx-text-fill: rgb(234, 231, 52);
    -fx-background-radius: 15;
        -fx-scale-y: 1.05;
    -fx-font-size: 40px;
}

.btn:hover {
    -fx-background-color: #f9f9f9;
    -fx-scale-x: 1.05;

    
}

.bg {
        -fx-background-color: #1111;
}